@media (min-width: 768px) and (max-width: 959px) {

.wrap {
	width: 768px;
}

.logo {
	padding-top: 7%;
    display: block;
    clear: right;
	margin-bottom: 0;
}

nav {
	clear: both;
    float: left;
    width: 85%;
    height: 134px;
    text-align: left;
}

 .header__menu {
    display: block;
	float: left;	
}

.hgroup {
    width: 100%;
    height: 390px;
}

.hgroup__content {
    margin-top: 75px;
    width: 271px;
	height: 184px;
	overflow: hidden;
}

.hgroup h1 {
	font-size: 48px;
}

.hgroup h2 {
	font-size: 20px;
}
	
.hgroup p {
	display: block;
	margin-top: 10px;
	font-size: 16px;
}


.hgroup__phone {
    display: block;
    float: left;
    width: 22%;
    margin: 0 119px;
}

.radiobuttons {
    text-align: right;
    margin-right: 210px;
    margin-left: 0;
}

section {
	height: 385px;
}

.item {
	background-size: 312px 250px;
	overflow: hidden;
	margin-left: 0;
	width: 350px;
	height: 296px;
}

.item p {
    max-width: 271px;
	max-height: 118px;   
}


.blog {
	margin: 30px 0 1px 0;
}

.blog__inside p {
    margin: 0 0 0 57px;
	width: 70%;
	max-height: 25px;
	overflow: hidden;
}

.marks__logo {
    width: 768px;
    margin: 20px auto;
}

.marks__logo a {
    margin-left: 23px;
    margin-right: 22px;
}

.box--colection1,
.box--colection2,
.box--colection3 {
	width: 222px;
}

.box--colection2 {
  margin-left: 35px;
  margin-right: 35px;
}

.navi__head h3 {
	font-size: 36px;
}

.footer__menu li {
	padding-right: 0;
	margin-right: 22px;
	font-size: 18px;
}

.footer__in {
	position: relative;
	float: right;
	width: 30%;
}
}

@media (min-width: 480px) and (max-width: 767px) {
.wrap {
	width: 480px;
}

.logo {
	display: block;
    clear: right;
	float:none;
	text-align: center;
	width: 150px;
	display: block;
	margin: 0 auto;
}

nav {
	clear: both;
    float: none;
    width: 100%;
    height: 134px;
    text-align: center;
}

.header__menu {
    display: none;	
}

.header__dropdown {
    display: block;
    width: 247px;
    margin: 20px auto;
    border-radius: 10px;
}

.header__dropdown li {
    display: block;
    position: relative;
    text-align: center;
    height: 40px;
    /*width: 245px;*/
}

.header__dropdown li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'League_Gothic Regular', 'Open sans', sans-serif;
    line-height: 1.5;
    border-bottom: 2px solid #EDBFFF;
}

.dropdown--submenu {
    z-index: 1;
    display: none;
    position: absolute;
    width: 245px;
    top: 40px;
    left: 0;
    border: 1px solid #000;
}

.dropdown--submenu li {
    display: block;
    background: rgba(37,6,57, 0.7);
    border-top: 1px solid #523E5A;
}

.dropdown--submenu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'League_Gothic Regular', 'Open sans', sans-serif;
    line-height: 1.5;
    border-bottom: 2px solid #EDBFFF;
}

.dropdown--submenu li:hover {
    background: rgba(17,13,19,0.8);
    border-bottom: 2px solid #EDBFFF;
}

.dropdown--submenu li:last-child {
    border-radius: 0 0 10px 10px;
}

.header__dropdown > li:hover {
    background: rgba(37,6,57, 0.7);
    border-top: 1px solid #523E5A;
    border-radius: 10px 10px 0 0;
}

.dropdown--submenu:last-child {
    border-radius: 0 0 10px 10px;
}

.header__dropdown > li:hover > .dropdown--submenu {
    display: block;
}


hgroup {
    clear: both;
    height: 246px;
    text-align: center;
    background: rgba(0,0,0, 0.3);
}

.hgroup__content {
    width: 238px;	
}

.hgroup h1 {
	font-size: 36px;
	padding-left: 34px;
}

.hgroup h2 {
	font-size: 18px;
	padding-left: 16px;
	max-height: 24px;
	overflow: hidden;
}
	
.hgroup p {
	display: none;
}


.hgroup__phone {
    display: block;
    float: right;
    width: 40%;
    margin: 0;
}

.hgroup__phone img {
    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.radiobuttons {
    text-align: center;
    margin-right: 0; 
     margin-left: 0;  
    height: 95px; 
}

.radiobuttons input {
    opacity: 0;
    margin: 0px 7px 25px 0;
}

 aside {
 	display: block;
	height: 595px;
}

.aside__content {
    display: block;
    width: 435px;
    height: 130px;
    margin-top: 40px;
}


section {
    height: 755px;
}

.item {
	background-size: 420px 270px;
	margin-left: 65px;
}

.radiobuttons {
    padding: 20px 0 0 63px;
}

.blog {
    float: none;
    margin-top: 45px;
    margin-left: 65px;
	width: 330px;
}

.blog__button input[type="submit"] {
	margin: 5px -64px 0 0;
}


figure {
	height: 230px;
}

.marks__logo {
	 width: 480px;
    margin: 30px auto;  
}

.logo4, 
.logo5, 
.logo6 {
    margin-top: 30px;
}

.footer__news {
	height: 700px;
}

.news__box {
    height: 670px;
}

.box--colection1,
.box--colection2,
.box--colection3 {
	padding-top: 60px;
    width: 440px;
    height: 130px;
    float: none;
}

.box--colection2 {
	margin: 30px 0;		
}

.navi__head h3 {
	font-size: 24px;
}

.footer__menu {
	width: 100%;
	margin: 0 auto;
}


.footer__menu li {
	padding-left: 5px;
	margin-right: 14px;
}

.footer__in {	
    float: none;
    width: 100%;
    margin: 0 auto;
}
}

@media (min-width: 320px) and (max-width: 479px) {

.wrap {
	width: 320px;
}

.logo {
	display: block;
    clear: right;
	float:none;
	text-align: center;
	width: 150px;
	display: block;
	margin: 0 auto;
}

nav {
    clear: both;
    float: none;
    width: 100%;
    height: 134px;
    text-align: center;
}

.header__menu {
    display: none;  
}

.header__dropdown {
    display: block;
    width: 202px;
    margin: 20px auto;
    border-radius: 10px;
}

.header__dropdown li {
    display: block;
    position: relative;
    text-align: center;
    height: 40px;
}

.header__dropdown li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'League_Gothic Regular', 'Open sans', sans-serif;
    line-height: 1.5;
}

.header__dropdown > li > a {
    border-bottom: 2px solid #EDBFFF;
    line-height: 1.5;
}

.dropdown--submenu {
    z-index: 1;
    display: none;
    position: absolute;
    width: 200px;
    top: 40px;
    left: 0;
    border: 1px solid #000;
}

.dropdown--submenu li {
    display: block;
    background: rgba(37,6,57, 0.7);
    border-top: 1px solid #523E5A;
}

.dropdown--submenu li:hover {
    background: rgba(17,13,19,0.8);
    border-bottom: 2px solid #EDBFFF;
}

.dropdown--submenu li:last-child {
    border-radius: 0 0 10px 10px;
}

.header__dropdown > li:hover {
    background: rgba(37,6,57, 0.7);
    border-top: 1px solid #523E5A;
    border-radius: 10px 10px 0 0;
}

.dropdown--submenu:last-child {
    border-radius: 0 0 10px 10px;
}

.header__dropdown > li:hover > .dropdown--submenu {
    display: block;
}


hgroup {
    clear: both;
    height: 155px;
    text-align: center;
    background: none;
}

.hgroup__content {
    float: none;
    width: 320px;      	
}

.hgroup h1 {
	font-size: 36px;
	padding-left: 72px;
}

.hgroup h2 {
	font-size: 18px;
    padding-left: 57px;
    max-width: 217px;
    max-height: 24px;
    overflow: hidden;
}
	
.hgroup p {
	display: none;
}


.hgroup__phone {
    display: none;
    width: 0;
}


.radiobuttons {
    text-align: center;
    margin-right: 0; 
     margin-left: 0;  
    height: 95px;  
    padding: 20px 0 0 12px; 
}

.radiobuttons input {
    opacity: 0;
    margin: 0px 7px 25px 0;
}

 aside { 	
	height: 786px;
}

.aside__content {
    width: 320px;
    height: 160px;
    margin-top: 63px;
}

.content--text h4 {
    font-size: 24px;
}

.content--text p {
    height: 120px;
    display: block;
    width: 80%;
    max-height: 120px;
    overflow: hidden;
    padding: 3px 0 0 5px;
    white-space: normal;
}

section {
    height: 712px;
}

.item p {
    width: 260px;
}

.item {
    background-size: 295px 272px;
    width: 300px;
    padding-right: 20px;
    height: 299px;
    overflow: hidden;
}


.blog {
    margin-top: 45px;
    width: 288px;
    overflow: hidden;
}

.blog__inside {
    margin-top: 10px;
    height: 60px;
    width: 290px;
}

.blog__inside h4 {   
    max-width: 230px;
    max-height:25px;
    overflow: hidden;
}

.blog__inside p {
    width: 100%;     
}

.blog__button input[type="submit"] {
	margin: 5px 4px 0 0;
}

figure {
	height: 420px;
}

.marks__logo {
	width: 320px;
    margin: 30px auto;  
}

.logo1,
.logo2,
.logo3, 
.logo4,
.logo5,
.logo6 {
    margin-top: 30px;
}

.footer__news {
	display: none;
}

.news__box {
    display: none;
}


.footer__menu {
	display: none;
}

.footer__in {	
    float: none;
    width: 100%;
    margin: 0 auto;
}

.footer__in p {
    padding-top: 20px;   
}

}